<div>
  <link href="./blog-post-card22.css" rel="stylesheet" />
  <div class="blog-post-card22-blog-post-card">
    <div class="component2-container">
      <img
        alt="image"
        src="/playground_assets/img_4149-400w.jpeg"
        image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
        class="component2-image"
      />
    </div>
    <div class="component1-container">
      <div class="component1-container1">
        <span class="component1-text"><span>Empleada</span></span>
        <span class="component1-text1"><span>ESFIA</span></span>
      </div>
      <h1 class="component1-text2"><span>Isabella Monique</span></h1>
      <span class="component1-text3">
        <span>
          Isabella Monique desempeña el papel de Analista de Sistemas ,
          Ingeniera y Diseñadora Web ,Diseñadora Grafica, Manager en ventas y
          Creadora Oficial de Contenido Multimedia.
        </span>
      </span>
      <div class="component1-container2">
        <div class="component1-profile">
          <img
            alt="profile"
            src="/playground_assets/esfia%20logo.jpeg"
            class="component1-image"
          />
          <span class="component1-text4"><span>ESFIA technologies</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
