<div>
  <link href="./component1.css" rel="stylesheet" />
  <div class="component1-container">
    <div class="component1-container1">
      <span class="component1-text"><span>Empleada</span></span>
      <span class="component1-text1"><span>ESFIA</span></span>
    </div>
    <h1 class="component1-text2"><span>Isabella Monique</span></h1>
    <span class="component1-text3">
      <span>
        Isabella Monique desempeña el papel de Analista de Sistemas , Ingeniera
        y Diseñadora Web ,Diseñadora Grafica, Manager en ventas y Creadora
        Oficial de Contenido Multimedia.
      </span>
    </span>
    <div class="component1-container2">
      <div class="component1-profile">
        <img
          alt="profile"
          src="/playground_assets/esfia%20logo.jpeg"
          class="component1-image"
        />
        <span class="component1-text4"><span>ESFIA technologies</span></span>
      </div>
    </div>
  </div>
</div>
